:root {
    --margin: 20px;
    --small-margin: 5px;
}

*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
}

.app{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto minmax(100px, 1fr) auto;
}

h1 {
    font-weight: bold;
    text-align: center;
}

.workarea, .shape-library {
    margin-left: var(--margin);
    margin-right: var(--margin);
}

.workarea {
    padding: var(--margin);
    border: 1px solid lightgray;
    position: relative;
    height: 440px;
}

.shape-container {
    position: absolute;
}

.selected-shape > svg {
    filter: drop-shadow(0 0 3mm green);
}

.add-shape-button {
    width: 1.5cm;
    height: 1.5cm;
    padding: var(--small-margin);
}

.attributes, .functions {
    margin: var(--margin);
}

.attributes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--margin);
    margin-bottom: 0px;
}

.attribute-group {
    display: grid;
    grid-template-columns: 0.75fr 1fr;
    grid-auto-rows: min-content;
    column-gap: var(--small-margin);
    row-gap: var(--small-margin);
    overflow-y: auto;
}

h2.attribute-header {
    margin-top: 0px;
    margin-top: 0px;
    grid-column: 1 / -1;
}

.shape-attribute, .icon-attribute {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.no-shape-selected-text {
    grid-column: 1 / -1;
    width: 200px;
    text-align: left;
    margin-top: 0px;
}

.shape-functions {
    grid-column: 1 / -1;
}

.hidden {
    display: none;
}

.shape-library {
    grid-area: 1 / 2 / -1; /* Place into column 2, span all rows */
    overflow-y: auto;
}

.functions {
    text-align: center;
}

.function-button {
    width: 3cm;
    height: 1cm;
}

.dialog {
    position: absolute;
    top: 0px;
    left: 0px;

    width: 100%;
    height: 100%;

    /* Changed to grid when dialog is shown */
    display: none;
    place-items: center center;

    /* 
        RGB value necessary since otherwise the child would
        inherit the opacity with no way to turn it off.
        https://www.w3schools.com/cssref/css3_pr_opacity.asp
    */
    background-color: rgba(175, 175, 175, 0.5);
}

.dialog-content {
    padding: var(--margin);

    background-color: white;

    border: 1px solid black;
    border-radius: var(--small-margin);
}

.dialog-header {
    margin-top: 0px;
}

.dialog-content > .functions {
    margin-bottom: 0px;
}
