:root {
    --margin: 20px;
}

*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
}

.app{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
}

.header {
    /* margin-left: var(--margin); Removed because it clashed with centering the header*/
}

h1 {
    font-weight: bold;
    text-align: center;
}

.workarea, .shape-library{
    margin-left: var(--margin);
    margin-right: var(--margin);
    overflow-y: auto;
}

.workarea {
    padding: var(--margin);
    border: 1px solid lightgray;
    position: relative;
    height: 440px;
}

.shape-container {
    position: absolute;
}

.add-shape-button {
    width: 1.5cm;
    height: 1.5cm;
    padding: 5px;
}

.shape-library {
    grid-area: 1 / 2 / -1; /* Place into column 2, span all rows */
}